---
import QuantityTable from '../components/QuantityTable.astro';
---

<!doctype html>
<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Astro Table Example</title>
	</head>
	<body>
		<QuantityTable client:load />
		<QuantityTable client:load />
	</body>
</html>
